@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: var(--font-cairo), sans-serif;
  --second-family: var(--font-open-sans), sans-serif;
  --third-family: var(--font-inter), sans-serif;
  --font3: var(--font-roboto-mono), sans-serif;
  --font4: var(--font-roboto), sans-serif;


  --color-gray3: #f3f3f3; /* search bg */
  --color-gray4: #ededed; /* input borders */
  --color-gray5: #e2e2e2; /* table borders */
  --color-gray6: #c4c4c4; /* thumbnail bg */
  --color-gray7: #ececeb; /* thumbnail border */
  --color-gray8: #b2b3b9; /* light gray text */

  --color-primary: #222222; /* dark gray text */
  --bg-main: #f9f9f9;
  --bg-login: #f6f6f6;

  --input-bg: #ffffff;
  --input-bg-secondary: var(var(--color-gray3));
  
  .bg-gray3 { background-color: var(--color-gray3) } /* search bg */
  .border-gray4 { border-color: var(--color-gray4) }; /* input borders */
  .border-b-gray5 { border-bottom-color: var(--color-gray5) }; /* table borders */
  .bg-gray6 { background-color: var(--color-gray6) } /* thumbnail bg */
  .border-gray7 { border-color: var(--color-gray7) } /* thumbnail border */
  .text-gray8 { color: var(--color-gray8) } /* light gray text */
  .text-primary { color: var(--color-primary) } /* dark gray text */
}

body {
  background-color: var(--bg-main);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

input {
  border: 1px solid var(--input-border);
  background-color: var(--input-bg);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table {
  text-align: left;
}

.svg-inline--fa {
  height: 1em;
  width: 1em;
}

.fa-icon, 
.fa-2xs, .fa-xs, .fa-sm, 
.fa-lg, .fa-xl, .fa-2xl {
  display: inline-block;
}

/* Ensure icons match font size */
svg[class*="fa-"] {
  font-size: inherit;
  width: 1em;
  height: 1em;
}