.logoBadge {
  width: 52px;
  height: 52px;
  background: #fff;
  border-radius: 100%;
  padding: 2px;
  box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.06);
}

.logoBadgeBg {
  box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.03), 0 0 0 2px #fff;
  background: #fff, linear-gradient(360deg, rgba(35, 35, 35, 0) 50%, rgba(35, 35, 35, 0.06) 100%);
  border-radius: 100%;
  width: 48px;
  height: 48px;
}

.logoBadgeBg img { height: 48px; }

